access_key        = ""
app_id            = ""
env_id            = ""
namespace         = ""
oidc_provider     = ""
oidc_provider_arn = ""
policy_arns       = ""
prefix            = ""
region            = ""
res_id            = ""
secret_key        = ""