access_key   = ""
app_id       = ""
cluster_name = ""
env_id       = ""

# Resource name
name = ""

namespace   = ""
policy_arns = ""

# Prefix for all resources
prefix = ""

region     = ""
res_id     = ""
secret_key = ""