
# AWS Access Key
access_key = ""

app_id = ""

# Hosted zone ID for a CloudFront distribution, S3 bucket, ELB, or Route 53 hosted zone.
aws_hosted_zone = ""

env_id = ""

# The id of the hosted zone in which this record set will reside.
hosted_zone_id = ""

# The IPv4 address that the DNS name should resolve to.
ip_address = ""

# The IPv6 address that the DNS name should resolve to.
ipv6_address = ""

# A valid fully qualified domain name that the DNS name should resolve to.
name = ""

# AWS Region
region = ""

res_id = ""

# AWS Secret Key
secret_key = ""

# The subdomain of the DNS name that the DNS record is for.
subdomain = ""