
# Append Terraform logs to error messages.
append_logs_to_error = false

cluster_name = ""

# The ID of the Resource Account which should be used.
driver_account = ""

# Resource name (can contain placeholders like ${context.app.id})
name = ""

# Humanitec aws-policy classes to provision by default for this role.
policy_classes = []

# Prefix for all resources
prefix = ""

region = ""

# AWS Resource Pack git branch
resource_packs_aws_rev = ""

# AWS Resource Pack git url
resource_packs_aws_url = "https://github.com/humanitec-architecture/resource-packs-aws.git"