
# AWS Access Key
access_key = ""

# AWS Security Group ID of the kubernetes nodes to allow access to the AWS ElastiCache cluster
k8s_node_security_group_id = ""

# Name of the example application
name = "redis-test"

# AWS Region
region = ""

# AWS Resource Pack git branch
resource_packs_aws_rev = "refs/heads/main"

# AWS Resource Pack git url
resource_packs_aws_url = "https://github.com/humanitec-architecture/resource-packs-aws.git"

# AWS Secret Key
secret_key = ""

# AWS Subnet IDs to use for the AWS ElastiCache cluster
subnet_ids = ""

# AWS VPC ID
vpc_id = ""