access_key                   = ""
humanitec_organization       = ""
prefix                       = ""
region                       = ""
resource_packs_aws_rev       = ""
s3_resource_definition_class = ""
secret_key                   = ""