
# Append Terraform logs to error messages.
append_logs_to_error = false

# The ID of the Resource Account which should be used.
driver_account = ""

# The id of the hosted zone in which this record set will reside.
hosted_zone_id = ""

# Prefix for all resources
prefix = ""

# AWS Region
region = ""

# AWS Resource Pack git branch
resource_packs_aws_rev = "refs/heads/main"

# AWS Resource Pack git url
resource_packs_aws_url = "https://github.com/humanitec-architecture/resource-packs-aws.git"