access_key = ""

# Name of the EKS cluster
cluster_name = ""

name   = "item-list"
region = "eu-central-1"

# AWS Resource Pack git branch
resource_packs_aws_rev = "refs/heads/main"

# AWS Resource Pack git url
resource_packs_aws_url = "https://github.com/humanitec-architecture/resource-packs-aws.git"

secret_key = ""