access_key             = ""
humanitec_organization = ""
name                   = "item-list"
oidc_provider          = ""
oidc_provider_arn      = ""
region                 = "eu-central-1"
resource_packs_aws_rev = "refs/heads/main"
secret_key             = ""