access_key                    = ""
prefix                        = ""
region                        = ""
resource_packs_aws_rev        = ""
secret_key                    = ""
sqs_resource_definition_class = ""